
.center
{
	width:95.5%;
	height: 600px;
	display: inline;
	float:left;
    overflow-x: scroll;
	overflow-style: marquee-line;
	
	background-color: #454954;
	
	border-radius: 12px;
	margin:5px;
	padding: 20px 15px 15px 15px;
}

.actionbar {
	width:95.5%;
	float:left;
	background: #454954;
	border-radius: 12px;
	margin:5px;
	padding: 20px 15px 15px 15px;
}


.actionbar a
{
	display: block;
	float:left;
	width: 150px;
	height: 35px;
	text-align: center;
	font-size: 1em;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	margin-left:10px;
	margin-right:10px;
	color: white;
	text-decoration: none;
	
	background-color: #49a2e4;
	border-radius: 6px;
	margin-bottom: 10px;
}

.actionbar a:hover
{
	font-size:1.1em;
}
